.heading {
  color: #1976d2;
  font-size: 70px;
}

.alignment {
  content: "";
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signuplink{
    color: #1976d2;
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}


